body,
html {
    position: fixed;
    height: 100vh;
    width: 100vw;
}

*{
    user-select: none;
    -moz-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
    -webkit-appearance: none;
}

body{
    margin: 0;
    background: black;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

@media screen and (orientation:portrait) { 
    tr{
        height: calc(100vw/4);
    }
    td{
        height: calc(100vw/4);
        width: calc(100vh/4);
    }
}

@media screen and (orientation:landscape) { 
    tr{
        height: calc(100vh/4);
    }
    td{
        height: calc(100vh/4);
        width: calc(100vw/4);
    }
}

.bt-btn{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-image: url("idle.png");
    background-size: cover;
}

.container {
	text-align: center;
}